# Next.js
.next/
out/

# Tailwind
.tailwind*

# General env files
.env
.env.*
*.env.local
*.env.development.local
*.env.production.local
*.env.test.local

# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.sqlite3
*.db

# Docker
*.tar


# Logs
logs/
*.log

# Test/coverage
.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
.cache/
coverage.xml

# Jupyter
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# IDEs/Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Package managers
package-lock.json
yarn.lock

# React/Angular/Vue (legacy)
frontend/build/
frontend/dist/

# Azure
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Misc
*.swp
*.bak

# Ignore local database and secrets
satellites.db
uv.lock

# Ignore output from Azure CLI
azuredeploy.*.json